@media (min-width: 1200px) {
  /* Styles for desktop screens */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo3 {
    position: relative;
    height: auto;
    max-width: 1100px;
    margin: 0 auto;
    left: 16%;
    margin-top: 5pc;
  }

  .root,
  html,
  body {
    line-height: 3;
    background-color: #76a5af;
    -webkit-text-size-adjust: 100%;
    font-family: "UniSpace";
    height: 100%;
    position: relative;
    color: black;
  }

  .nav,
  .navbar,
  .li,
  .a,
  .nav-link,
  .nav-link :active {
    color: white !important;
    font-weight: bolder;
    font-size: larger;
    background-color: #353535;
  }

  .masthead-title {
    position: relative;
    margin-top: 5pc;
    font-size: 320%;
    line-height: 2;
    display: inline;
    left: 10%;
  }

  .ul-child {
    line-height: 3;
    text-indent: 50px;
    font-size: large;

  }

  .section-idea {
    position: relative;
    margin-top: 5pc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .ul-child::first-letter {
    font-size: 2pc;
    line-height: normal;
  }

  .bulb-img {
    position: relative;
    top: 0pc;
    height: 300px;
  }

  .logo4 {
    position: relative;
    border-radius: 2%;
    height: auto;
    max-width: 550px;
  
  }

  .div-idea {
    width: 800px;
    height: auto;
    justify-content: center;
  }
  .section-contact{
    position: relative;
    margin-top: 10pc;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    align-items: flex-start;
    left: 11%;
  }

  .contact-div {
    position: relative;
    font-size: large;
    text-indent: 50px;
    justify-content: center;
    max-width: 1200px;
  }

  .contact-paragraph {
    position: relative;
    width: 700px;
    left: 5pc;
  
    
  }

  .contact-paragraph::first-letter {
    font-size: 2pc;
    line-height: normal;
  }

  .button,
  .build-btn {
    background-color: white;
    padding: 5px;
    border-color: #353535;
    border-radius: 3%;
    position: relative;
    left: 5pc;

  }

  .about {
    font-size: large;
    line-height: 3;
    width: 1000px;
  }

  .about-2 {
    columns: 1;
    font-size: large;
    text-indent: 50px;
    width: 450px;
  }

  .section-owner {
    margin-top: 10pc;
    position: relative;
    left: 13%;
    max-width: 1200px;
    
  }

  .about::first-letter {
    font-size: 2pc;
    line-height: normal;
  }

  .about-2::first-letter {
    font-size: 2pc;
    line-height: normal;
  }

  .logo2 {
    height: 130px;
  }

  .owner {
    position: relative;
    font-size: large;
    width: 600px;
  
  }
  .div-mast{
    max-width: 1200px;
  }


  .owner-title {
    position: relative;
  text-align: center;
  text-align: justify;
  font-size: 20px;
    left: 31pc;
    top: -42pc;
  
  }

  .headshot {
    position: relative;
    height: auto;
    max-width: 360px;
    border-radius: 2%;
    left: 31pc;
    margin-top: -55pc;
 
  
  }

  .rwengineer {
    font-size: 490%;
  }

  .contactcard {
    position: absolute;
    top: 25%;
  }

  .hero-image {
    background-image: url("./images/ratwerkslogo.png");
    opacity: 10%;
    height: 1350px;
    width: 1800px;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container {
    width: 100%;
  }

  footer,
  .footer-basic,
  .copyright {
    padding: 10px 0;
    background-color: #353535;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    width: 100%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for typical mobile screens */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
  }
  
  .root,
  html,
  body {
    line-height: 1.5;
    background-color: #76a5af;
    -webkit-text-size-adjust: 100%;
    font-family: "UniSpace";
    color: black;
  }
  .logo3{
    position: relative;
    top: 5pc;
    margin-top: 5pc;
    width: 400px;
    left: 6pc;
    
  }
  .nav,
  .navbar,
  .li,
  .a,
  .nav-link,
  .nav-link :active {
    color: white !important;
    font-weight: bolder;
    font-size: larger;
    background-color: #353535;
  }
  
  .masthead-title {
    position: relative;
    font-size: large;
    line-height: 1.5;
    display: inline;
    top: 5pc;
    right: -1pc;
  }
  
  .ul-child {
    margin-top: 8pc;
    line-height: 1.5;
    font-size: large;
    text-indent: 20px;
  }
  
  .section-idea {
    margin-top: 2pc;
  }
  
  .ul-child::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .bulb-img {
    height: 350px;
    max-width: 100%;
  }
  
  .logo4 {
    border-radius: 2%;
    max-width: 100%;
  }
  
  .div-idea {
    max-width: 715px;
  }
  
  .contact-div {
    margin-top: 2pc;
    font-size: larger;
    margin: none;
    text-indent: 20px;
  }
  
  .contact-paragraph {
    margin-top: 2pc;
    width: 100%;
    margin-top: 6px;
    max-height: 620px;
    overflow: auto;
  }
  
  .contact-paragraph::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .button,
  .build-btn {
    background-color: white;
    padding: 5px;
    border-color: #353535;
    border-radius: 3%;
    position: relative;
    bottom: 0;
  }
  
  .about {
    margin-top: 2pc;
    font-size: larger;
    line-height: 1.5;
  }
  
  .about-2 {
    margin-top: 2pc;
    columns: 1;
    font-size: larger;
    text-indent: 20px;
    max-width: 450px;
  }
  
  .about::first-letter,
  .about-2::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .logo2 {
    margin-top: 2pc;
    height: 130px;
    max-width: 100%;
  }
  
  .owner {
    margin-top: 2pc;
    font-size: larger;
    margin-top: -49px;
    text-indent: 20px;
  }
  
  .owner-title {
    margin-top: 5pc;
    font-size: 27px;
  }
  
  .headshot {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
  }
  
  .rwengineer {
    font-size: 250%;
  }
  
  .contactcard {
    position: relative;
    top: 25%;
    right: 10%;
    width: 300px;
  }
  
  .hero-image {
    background-image: url("./images/ratwerkslogo.png");
    opacity: 10%;
   height: 670px;
   width:380px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  footer,
  .footer-basic {
    padding: 20px 0;
    background-color: #353535;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for larger mobile screens or small tablets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
  }
  
  .root,
  html,
  body {
    line-height: 1.5;
    background-color: #76a5af;
    -webkit-text-size-adjust: 100%;
    font-family: "UniSpace";
    color: black;
  }
  .logo3{
    position: relative;
    top: 5pc;
    margin-top: 5pc;
    width: 300px;
    left: 3pc;
    
  }
  .nav,
  .navbar,
  .li,
  .a,
  .nav-link,
  .nav-link :active {
    color: white !important;
    font-weight: bolder;
    font-size: larger;
    background-color: #353535;
  }
  
  .masthead-title {
    position: relative;
    font-size: large;
    line-height: 1.5;
    display: inline;
    top: 5pc;
    right: -1pc;
  }
  
  .ul-child {
    margin-top: 8pc;
    line-height: 1.5;
    font-size: large;
    text-indent: 20px;
  }
  
  .section-idea {
    margin-top: 2pc;
  }
  
  .ul-child::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .bulb-img {
    height: 350px;
    max-width: 100%;
  }
  
  .logo4 {
    border-radius: 2%;
    max-width: 100%;
  }
  
  .div-idea {
    max-width: 715px;
  }
  
  .contact-div {
    margin-top: 2pc;
    font-size: larger;
    margin: none;
    text-indent: 20px;
  }
  
  .contact-paragraph {
    margin-top: 2pc;
    width: 100%;
    margin-top: 6px;
    max-height: 620px;
    overflow: auto;
  }
  
  .contact-paragraph::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .button,
  .build-btn {
    background-color: white;
    padding: 5px;
    border-color: #353535;
    border-radius: 3%;
    position: relative;
    bottom: 0;
  }
  
  .about {
    margin-top: 2pc;
    font-size: larger;
    line-height: 1.5;
  }
  
  .about-2 {
    margin-top: 2pc;
    columns: 1;
    font-size: larger;
    text-indent: 20px;
    max-width: 450px;
  }
  
  .about::first-letter,
  .about-2::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .logo2 {
    margin-top: 2pc;
    height: 130px;
    max-width: 100%;
  }
  
  .owner {
    margin-top: 2pc;
    font-size: larger;
    margin-top: -49px;
    text-indent: 20px;
  }
  
  .owner-title {
    margin-top: 5pc;
    font-size: 27px;
  }
  
  .headshot {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
  }
  
  .rwengineer {
    font-size: 250%;
  }
  
  .contactcard {
    position: relative;
    top: 25%;
    right: 10%;
    width: 300px;
  }
  
  .hero-image {
    background-image: url("./images/ratwerkslogo.png");
    opacity: 10%;
   height: 670px;
   width:380px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  footer,
  .footer-basic {
    padding: 20px 0;
    background-color: #353535;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  


}

@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for typical mobile screens */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
  }
  
  .root,
  html,
  body {
    line-height: 1.5;
    background-color: #76a5af;
    -webkit-text-size-adjust: 100%;
    font-family: "UniSpace";
    color: black;
  }
  .logo3{
    position: relative;
    top: 5pc;
    margin-top: 5pc;
    width: 400px;
    left: 6pc;
    
  }
  .nav,
  .navbar,
  .li,
  .a,
  .nav-link,
  .nav-link :active {
    color: white !important;
    font-weight: bolder;
    font-size: larger;
    background-color: #353535;
  }
  
  .masthead-title {
    position: relative;
    font-size: large;
    line-height: 1.5;
    display: inline;
    top: 5pc;
    right: -1pc;
  }
  
  .ul-child {
    margin-top: 8pc;
    line-height: 1.5;
    font-size: large;
    text-indent: 20px;
  }
  
  .section-idea {
    margin-top: 2pc;
  }
  
  .ul-child::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .bulb-img {
    height: 350px;
    max-width: 100%;
  }
  
  .logo4 {
    border-radius: 2%;
    max-width: 100%;
  }
  
  .div-idea {
    max-width: 715px;
  }
  
  .contact-div {
    margin-top: 2pc;
    font-size: larger;
    margin: none;
    text-indent: 20px;
  }
  
  .contact-paragraph {
    margin-top: 2pc;
    width: 100%;
    margin-top: 6px;
    max-height: 620px;
    overflow: auto;
  }
  
  .contact-paragraph::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .button,
  .build-btn {
    background-color: white;
    padding: 5px;
    border-color: #353535;
    border-radius: 3%;
    position: relative;
    bottom: 0;
  }
  
  .about {
    margin-top: 2pc;
    font-size: larger;
    line-height: 1.5;
  }
  
  .about-2 {
    margin-top: 2pc;
    columns: 1;
    font-size: larger;
    text-indent: 20px;
    max-width: 450px;
  }
  
  .about::first-letter,
  .about-2::first-letter {
    font-size: 1.5rem;
    line-height: normal;
  }
  
  .logo2 {
    margin-top: 2pc;
    height: 130px;
    max-width: 100%;
  }
  
  .owner {
    margin-top: 2pc;
    font-size: larger;
    margin-top: -49px;
    text-indent: 20px;
  }
  
  .owner-title {
    margin-top: 5pc;
    font-size: 27px;
  }
  
  .headshot {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
  }
  
  .rwengineer {
    font-size: 250%;
  }
  
  .contactcard {
    position: relative;
    top: 25%;
    right: 10%;
    width: 300px;
  }
  
  .hero-image {
    background-image: url("./images/ratwerkslogo.png");
    opacity: 10%;
   height: 670px;
   width:680px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  footer,
  .footer-basic {
    padding: 20px 0;
    background-color: #353535;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  /* Styles for tablets and larger screens in landscape mode */
    /* Styles for desktop screens */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .container {
      width: 100%;
    }
  .logo3{
    position: relative;
  }
    .root,
    html,
    body {
      line-height: 3;
      background-color: #76a5af;
      -webkit-text-size-adjust: 100%;
      font-family: "UniSpace";
      height: 100%;
      position: relative;
      color: black;
    }
    .nav,
    .navbar,
    .li,
    .a,
    .nav-link,
    .nav-link :active {
      color: white !important;
      font-weight: bolder;
      font-size: larger;
      background-color: #353535;
  
    }
    .masthead-title {
      position: relative;
      font-size: 47px;
      line-height: 2;
      display: inline;
      ;
    }
  
    .ul-child {
  
      line-height: 3;
      text-indent: 50px;
      font-size: x-large;
      right: 5%;
  
    }
  
    .section-idea {
      position: relative;
      right: 5%;
      margin-top: 25pc
    }
  
    .ul-child::first-letter {
      font-size: 2pc;
      line-height: normal;
    }
  
    .bulb-img {
      top: -40pc;
      left: 40pc;
      height: 650px;
    }
  
    .logo4 {
      position: relative;
      border-radius: 2%;
      height: 700px;
      width: 300px;
      right: 5%;
      margin-top: -20pc;
    }
  
    .div-idea {
      width: 715px;
    }
  
    .contact-div {
      position: relative;
      margin: none;
      left: 30pc;
      font-size: larger;
      top: -45pc;
      text-indent: 50px;
    }
  
    .contact-paragraph {
      width: 700px;
      margin-top: 6px;
      height: 620px;
  
    }
  
    .contact-paragraph::first-letter {
      font-size: 2pc;
      line-height: normal;
    }
  
    .button,
    .build-btn {
      background-color: white;
      padding: 5px;
      border-color: #353535;
      border-radius: 3%;
      position: relative;
      bottom: pc;
    }
  
  
    .about {
      font-size: larger;
      line-height: 3;
    
    }
    .about-2 {
      columns: 1;
      font-size: larger;
      text-indent: 50px;
      width: 450px;
  
    }
  
    .section-owner {
      position: relative;
      top: -25pc;
    }
  
    .about::first-letter {
      font-size: 2pc;
      line-height: normal;
    }
    
    .about-2::first-letter {
      font-size: 2pc;
      line-height: normal;
    }
  
    .logo2 {
      height: 130px;
    }
  
    .owner {
      position: relative;
      font-size: larger;
      left: 30pc;
      margin-top: -49pc;
  
    }
  
    .section-owner {
      right: 5%;
    }
  
    .owner-title {
      position: relative;
      right: -1pc;
      font-size: 27px;
    }
  
    .headshot {
      position: relative;
      height: 700px;
      width: 500px;
      border-radius: 2%;
  
    }
  
  
    .rwengineer {
      font-size: 490%;
    }
  
    .contactcard {
      position: absolute;
      top: 25%;
    }
  
    .hero-image {
      background-image: url("./images/ratwerkslogo.png");
      opacity: 10%;
      height: 1350px;
      width: 1800px;
      margin: 0%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  
    .container {
      width: 100%;
    }
  
  
  
    footer,
    .footer-basic,
    .copyright {
      padding: 40px 0;
      background-color: #353535;
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      color: #aaa;
      margin-bottom: 0;
    }
  
}